*
.aiff
!.gitignore
!.githooks
!.githooks/pre-push
!p*
!*.txt
!*.md
!*.htm*
!*.css
!README*
!convert*
!Cargo.toml
!Cargo.lock
!src/
!src/*.rs
!src/bin/
!src/bin/*.rs
!.github/
!.github/workflows/
!.github/workflows/*.yml
!scripts/
!scripts/*.sh
